<!DOCTYPE html>
<html class="{{pageClass}}">
  <head>
    <meta charset="utf-8">
    <title>{{{title}}}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/favicon.png" rel="icon">
    <link href="http://foxglovelettering.com/" rel="canonical">
    <script src="http://use.edgefonts.net/alegreya;alegreya-sc.js"></script>
    <link href="/styles.css" rel="stylesheet">
    <meta property="og:title" content="{{{title}}}">
    <meta property="og:description" content="Fine, hand-crafted lettering for creative companies and interesting individuals">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://foxglovelettering.com/">
    <meta property="og:image" content="http://foxglovelettering.com/logo.jpg">
    <meta property="og:site_name" content="Foxglove Lettering">
    {{#if preRender}}
      <link href="{{preRender}}" rel="prerender">
    {{/if}}
  </head>
  <body>
    <header id="header">
      <h1>{{#unless noHeaderLink}}<a href="/">{{/unless}}<img src="/images/Logo@2x.png" alt="Foxglove">{{#unless noHeaderLink}}</a>{{/unless}}</h1>
    </header>
    <hr>
    <main>{{{body}}}</main>
    <hr>
    <footer>
      <div>
        <div>
          <section class="feature about">
            <aside class="image carla">
              <img src="/images/carla.png">
              <p>Carla Hackett</p>
              <p class="title">Creative Director</p>
            </aside><div>
              <p>Whether it's a logo, mural, sign, editorial spread, poster, packaging, or other unique design; adding an element of hand-crafted lettering makes your message stand out.</p>
              <p>We love working with designers, creative directors, business owners, and lovers of fine hand-crafted type.</p>
            </div>
          </section>
          <section class="feature contact">
            <aside class="image">
              <a class="icon" href="https://maps.google.com/maps?q=13+Little+Gold+St,+Brunswick,+VIC,+Australia+(Little+Gold+Studios)&hl=en&ll=-37.78781,144.96563&spn=0.231167,0.445976&sll=-37.7746,144.959721&sspn=0.01116,0.019763&t=h&hnear=13+Little+Gold+St,+Brunswick+Victoria+3056,+Australia&z=12&iwloc=A"><img class="pin" src="/images/map-pin.svg"><img class="shadow" src="/images/map-pin-shadow.svg"></a>
            </aside><div class="text">
              <h3>Send us an email</h3>
              <p><a href="mailto:hello@foxglovelettering.com">hello@foxglovelettering.com</a></p>
              <h3>Visit our studio</h3>
              <p class="address"><a href="https://maps.google.com/maps?q=13+Little+Gold+St,+Brunswick,+VIC,+Australia+(Little+Gold+Studios)&amp;hl=en&amp;sll=-37.7746,144.959721&amp;sspn=0.01116,0.019763&amp;t=h&amp;hnear=13+Little+Gold+St,+Brunswick+Victoria+3056,+Australia&amp;z=16"><span>13 Little Gold St</span> <span>Brunswick VIC</span> <span>Australia</span></a></p>
            </div>
          </section>
        </div>
        <div>
          <section class="feature mailing-list">
            <h2><span>Stay <i>in the</i> loop<span></h2>
            <aside class="image">
              <div class="icon"><img src="/images/mailing-list.svg"></div>
            </aside><div>
              <p>Sign up to our first monthly inspiration bomb landing in May, full of interesting type tidbits from around Melbourne and things that have inspired us recently.</p>
              <form action="">
                <input placeholder="Name" />
                <input placeholder="Email address" type="email" />
                <button>Sign up</button>
              </form>
            </div>
          </section>
          <section class="feature connect">
            <h2>Twitter + Facebook + Instagram</h2>
          </section>
        </div>
      </div>
    </footer>
    <hr>
    <div class="flourish">Something cool</div>
  </body>
</html>