<!DOCTYPE html>
<html class="{{pageClass}}">
  <head>
    <meta charset="utf-8">
    <title>{{{title}}}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/favicon.png" rel="icon">
    <link href="{{currentUrl}}" rel="canonical">
    <link href="//cloud.typography.com/7602852/668822/css/fonts.css" rel="stylesheet">
    <link href="/styles.css" rel="stylesheet">
    <meta property="og:title" content="{{{title}}}">
    <meta name="description" content="{{#if description}}{{description}}{{else}}Carla is a Melbourne-based letterer who works with a range of clients in creative industries, including fashion, music, food, branding, retail, hospitality, magazines, books, weddings and conferences.{{/if}}">
    <meta property="og:description" content="{{#if description}}{{description}}{{else}}Carla is a Melbourne-based letterer who works with a range of clients in creative industries, including fashion, music, food, branding, retail, hospitality, magazines, books, weddings and conferences.{{/if}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{currentUrl}}">
    <meta property="og:image" content="{{#if image}}{{image}}{{else}}{{imageUrl "/images/logo.png"}}{{/if}}">
    <meta property="og:site_name" content="Carla Hackett">
    {{#if preRender}}
      <link href="{{preRender}}" rel="prerender">
    {{/if}}
  </head>
  <body>
    {{#unless noHeader}}
    <header id="header">
      <h1>{{#unless noHeaderLink}}<a href="/">{{/unless}}<img src="{{imageUrl "/images/logo.png"}}" alt="Carla Hackett">{{#unless noHeaderLink}}</a>{{/unless}}</h1>
    </header>
    <hr>
    {{/unless}}
    <main>{{{body}}}</main>
    <hr>
    <footer>
      <div>
        <div>
          <section class="feature about">
            <aside class="image carla">
              <img src="{{imageUrl "/images/carla.png"}}">
            </aside><div>
              <p class="text">Carla is a Melbourne-based letterer who runs her studio from a sunny shared creative space Little Gold Studios in Brunswick. She hand-crafts lettering for a range of clients in creative industries, including fashion, music, food, branding, retail, hospitality, magazines, books, weddings and conferences. If you’re a lover of beautiful lettering, get in touch.</p>
              <p><a href="/about">Read more about Carla Hackett</a></p>
            </div>
          </section>
          <section class="feature contact">
            <aside class="image">
              <a class="icon" href="https://maps.google.com/maps?q=13+Little+Gold+St,+Brunswick,+VIC,+Australia+(Carla+Hackett,+Little+Gold+Studios)&amp;hl=en&amp;sll=-37.7746,144.959721&amp;sspn=0.01116,0.019763&amp;t=h&amp;hnear=13+Little+Gold+St,+Brunswick+Victoria+3056,+Australia&amp;z=16"><img class="pin" src="/images/map-pin.svg"><img class="shadow" src="/images/map-pin-shadow.svg"></a>
            </aside><div class="text">
              <h3>Get in touch</h3>
              <p><a href="mailto:hello@carlahackett.com">hello@carlahackett.com</a></p>
              <h3>Visit the studio</h3>
              <p class="address"><a href="https://maps.google.com/maps?q=13+Little+Gold+St,+Brunswick,+VIC,+Australia+(Carla+Hackett,+Little+Gold+Studios)&amp;hl=en&amp;sll=-37.7746,144.959721&amp;sspn=0.01116,0.019763&amp;t=h&amp;hnear=13+Little+Gold+St,+Brunswick+Victoria+3056,+Australia&amp;z=16"><span>Little Gold Studios</span><br><span>13 Little Gold St</span><br><span>Brunswick VIC</span><br><span>Australia</span></a></p>
            </div>
          </section>
        </div>
        <div>
          <section class="feature mailing-list">
            <aside class="image">
              <img src="{{imageUrl "/images/stay-in-the-loop.jpg"}}">
            </aside><div>
              <p>Join my Type Lovers mailing list and receive a little bundle of typographic awesome in your inbox every now and then, showing what I've been working on and found inspiring.</p>
              <form action="http://foxglovelettering.createsend.com/t/t/s/ajykj/">
                <input placeholder="Name" name="cm-name" />
                <input placeholder="Email address" type="email" name="cm-ajykj-ajykj" />
                <button type="submit">Join</button>
              </form>
            </div>
          </section>
          <section class="feature connect">
            <div class="links">
              <span><a href="http://twitter.com/canarycarla">Twitter</a></span>
              <span><a href="http://instagram.com/carlahackett">Instagram</a></span>
              <span><a href="https://www.facebook.com/carla.hackett.lettering">Facebook</a></span>
            </div>
          </section>
        </div>
      </div>
    </footer>
    <script>
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '52269088f5a1f54ff900000a');
        t.src = 'https://secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-43762011-1', 'carlahackett.com');
      ga('send', 'pageview');
    </script>
  </body>
</html>
