<!DOCTYPE html>
<html class="{{pageClass}}">
  <head>
    <meta charset="utf-8">
    <title>{{{title}}}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/favicon.png" rel="icon">
    <link href="{{currentUrl}}" rel="canonical">
    <link href="//cloud.typography.com/7602852/668822/css/fonts.css" rel="stylesheet">
    <link href="/styles.css" rel="stylesheet">
    <meta property="og:title" content="{{{title}}}">
    <meta name="description" content="{{#if description}}{{description}}{{else}}Foxglove is a boutique lettering and design studio from Melbourne Australia. We specialise in hand-crafted lettering for a range of creative clients including fashion, music, food, branding, retail, hospitality, magazines, books, conferences and weddings. If you’re a lover of beautiful type, we should chat{{/if}}">
    <meta property="og:description" content="{{#if description}}{{description}}{{else}}Foxglove is a boutique lettering and design studio from Melbourne Australia. We specialise in hand-crafted lettering for a range of creative clients including fashion, music, food, branding, retail, hospitality, magazines, books, conferences and weddings. If you’re a lover of beautiful type, we should chat{{/if}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{currentUrl}}">
    <meta property="og:image" content="{{#if image}}{{image}}{{else}}{{imageUrl "/images/Logo@2x.png"}}{{/if}}">
    <meta property="og:site_name" content="Foxglove Lettering">
    {{#if preRender}}
      <link href="{{preRender}}" rel="prerender">
    {{/if}}
  </head>
  <body>
    <header id="header">
      <h1>{{#unless noHeaderLink}}<a href="/">{{/unless}}<img src="{{imageUrl "/images/Logo@2x.png"}}" alt="Foxglove">{{#unless noHeaderLink}}</a>{{/unless}}</h1>
    </header>
    <hr>
    <main>{{{body}}}</main>
    <hr>
    <footer>
      <div>
        <div>
          <section class="feature about">
            <aside class="image carla">
              <img src="{{imageUrl "/images/carla.png"}}">
              <p>Carla Hackett</p>
              <p class="title">Creative Director</p>
            </aside><div>
              <p class="text">Foxglove Lettering is a boutique lettering and design studio run by Carla Hackett. Foxglove is based in a beautiful shared creative space in Melbourne, Little Gold Studios, where Carla hand-crafts lettering for a range of clients in creative industries, including fashion, music, food, branding, retail, hospitality, magazines, books, weddings and conferences. If you’re a lover of beautiful lettering, get in touch.</p>
              <p><a href="/about">Read more about Foxglove</a></p>
            </div>
          </section>
          <section class="feature contact">
            <aside class="image">
              <a class="icon" href="https://maps.google.com/maps?q=13+Little+Gold+St,+Brunswick,+VIC,+Australia+(Foxglove+Lettering,+Little+Gold+Studios)&amp;hl=en&amp;sll=-37.7746,144.959721&amp;sspn=0.01116,0.019763&amp;t=h&amp;hnear=13+Little+Gold+St,+Brunswick+Victoria+3056,+Australia&amp;z=16"><img class="pin" src="/images/map-pin.svg"><img class="shadow" src="/images/map-pin-shadow.svg"></a>
            </aside><div class="text">
              <h3>Get in touch</h3>
              <p><a href="mailto:hello@foxglovelettering.com">hello@foxglovelettering.com</a></p>
              <h3>Visit the studio</h3>
              <p class="address"><a href="https://maps.google.com/maps?q=13+Little+Gold+St,+Brunswick,+VIC,+Australia+(Foxglove+Lettering,+Little+Gold+Studios)&amp;hl=en&amp;sll=-37.7746,144.959721&amp;sspn=0.01116,0.019763&amp;t=h&amp;hnear=13+Little+Gold+St,+Brunswick+Victoria+3056,+Australia&amp;z=16"><span>Little Gold Studios</span><br><span>13 Little Gold St</span><br><span>Brunswick VIC</span><br><span>Australia</span></a></p>
            </div>
          </section>
        </div>
        <div>
          <section class="feature mailing-list">
            <aside class="image">
              <img src="{{imageUrl "/images/stay-in-the-loop.jpg"}}">
            </aside><div>
              <p>Join my Type Lovers mailing list and receive a little bundle of typographic awesome in your inbox every month, showing what Foxglove has been working on and found inspiring.</p>
              <form action="http://foxglovelettering.createsend.com/t/t/s/ajykj/">
                <input placeholder="Name" name="cm-name" />
                <input placeholder="Email address" type="email" name="cm-ajykj-ajykj" />
                <button type="submit">Join</button>
              </form>
            </div>
          </section>
          <section class="feature connect">
            <div class="links">
              <span><a href="http://twitter.com/foxgloveletters">Twitter</a></span>
              <span><a href="http://instagram.com/carlahackett">Instagram</a></span>
              <span><a href="https://www.facebook.com/foxglovelettering">Facebook</a></span>
            </div>
          </section>
        </div>
      </div>
    </footer>
  </body>
</html>