<section class="workshop" id="brush-lettering-workshop">
  <h1><img src="{{imageUrl '/images/workshops/brush-lettering/title.jpg'}}" alt="Brush Lettering Workshop" /></h1>
  <hr>
  <div class="tagline">
    <h2>Learn your brush strokes from one of Australia’s most experienced letterers</h2>
  </div>
  <hr>
  <div class="outer"><div class="photos">
      <img src="{{imageUrl '/images/workshops/brush-lettering/DSCF2469.jpg'}}" alt="Styles of lettering" />
      <video autoplay loop alt="Barbara doing brush lettering" poster="{{imageUrl '/videos/workshops/brush-lettering-barbara.jpg'}}">
        <source src="{{imageUrl '/videos/workshops/brush-lettering-barbara.mp4'}}" type="video/mp4">
        <source src="{{imageUrl '/videos/workshops/brush-lettering-barbara.ogv'}}" type="video/ogg">
      </video>
      <img src="{{imageUrl '/images/workshops/brush-lettering/DSCF2475.jpg'}}" alt="Close up of lettering" />
      <img src="{{imageUrl '/images/workshops/brush-lettering/DSCF2526.jpg'}}" alt="Script lettering" />
      <img src="{{imageUrl '/images/workshops/brush-lettering/DSCF2546.jpg'}}" alt="More styles of lettering" />
      <img src="{{imageUrl '/images/workshops/brush-lettering/DSCF2549.jpg'}}" alt="" />
      <img src="{{imageUrl '/images/workshops/brush-lettering/DSCF2531.jpg'}}" alt="" />
    </div><div class="details">

      <p class="sell">Barbara Enright was brush lettering way before it was cool and now's your chance to skill up in this weekend workshop at the stunning Little Gold Studios.</p>

      <h3>What will you learn?</h3>
      <ul>
        <li>You’ll learn the basic strokes needed to gain control of the brushes to create various letter widths as well as working with the paint consistency and flow.</li>
        <li>Learn about brush types: round, square and pointed; and which are suited to the different lettering styles such as Casual and&nbsp;Script.</li>
        <li>See inspiring demonstrations of her master brush skills.</li>
        <li>Barbara will assist everyone to make sure they feel comfortable holding and manipulating the various brush sizes. She will encourage you to develop your own individuality when lettering with a&nbsp;brush.</li>
        <li>Through lots of practice time painting alphabets and completing set exercises, you'll put your strokes into practice and explore highlighting, shading and decorating.</li>
        <li>As well as playing with the traditional ticket writing brushes and paint, we will be experimenting with brush markers to create expressive lettering. You can bring along any pens you want to play&nbsp;with.</li>
      </ul>

      <h3>Who is this for?</h3>
      <ul>
        <li>Anyone and everyone who has an interest in lettering! We’ll be starting with the basics so we can achieve a good understanding of brush lettering techniques. Complete beginners welcome. No&nbsp;experience&nbsp;necessary!</li>
        <li>More experienced letterers wanting to learn new styles and techniques for their commercial and personal work such as logos, signage and typographic art&nbsp;pieces.</li>
      </ul>

      <h3>What will you take away?</h3>
      <ul>
        <li>Your very own Brush Lettering Kit including a brush and practice guides, all in a personalised folder hand lettered by&nbsp;Barbara.</li>
        <li>A yummy vegan lunch, afternoon cupcakes and an endless supply of cups of&nbsp;tea.</li>
        <li>All of your work from the weekend plus a final project demonsrating your&nbsp;skills.</li>
        <li>Lots of hands-on experience under one-on-one guidance from a master letterer to inspire your ongoing&nbsp;practice.</li>
        <li>A weekend of switching off from the computer, hearing Barbara’s fascinating lettering stories and insights, making new friends, and discussion about how to make a career out of &nbsp;lettering.</li>
        <li>Rad new skills to show off to your friends on Instagram.</li>
      </ul>

      <div class="teacher">
        <h3>Your amazing teacher</h3>
        <p><img src="{{imageUrl '/images/workshops/brush-lettering/barbara-photo.jpg'}}" alt="Barbara Enright" class="barbara-headshot"></p>
        <p>Barbara studied <a href="http://kaufmann-mercantile.com/show-card-writing/">show card and ticket writing</a> in 1967 and hasn’t put down her brushes&nbsp;since. That's 47 years of lettering experience!</p>
        <p>Barbara produced thousands of ticket cards for Myer Melbourne, Grace Bros. and other retail
        outlets in Sydney. She owned and operated a screen printing, showcard
        and ticket writing studio producing retail and promotional signage.
        She’s also seasoned teacher, having taught ticket writing and calligraphy classes both privately and through TAFE NSW.</p>
        <p>Barbara’s enthusiam for lettering is contagious! She is thrilled to hear that lettering is making a huge comeback in the design scene. and wants to pass on her years of experience to fellow lettering nerds and and type aficionados.</p>

        <p>She’s been a great friend and mentor, and I’m excited to invite her here from Sydney to share her skills with all of&nbsp;you.</p>
      </div>

      <h3>Venue</h3>
      <p>These workshops are held in the stunning light filled <a href="http://littlegoldstudios.com/">Little Gold Studios</a> in Brunswick, Melbourne. It will be a friendly and intimate setting, with lots of hands-on practice and well deserved cuppa breaks.</p>

      <h3>Dates &amp; booking</h3>
      <p>We are running two separate 2-day workshops, both exactly the same content, but run on different weekends: Saturday 16th &amp; Sunday 17th August 2014, 9.30am-4.30pm, and Saturday 23rd &amp; Sunday 24th August 2014, 9.30am-4.30pm.</p>
      <p>Cost: <i class="cost">$550</i> for the 2 day course including lunch, your own personalised lettering kit, and all materials. Maximum of 6 students per class.</p>
      <div class="book">
        <!-- <p><a href="https://pay.pin.net.au/qkgm?amount=550&amp;description=Two+day+brush+lettering+workshop+with+Barbara+Enright%3A+16+%26+17+August+2014+&amp;success_url=http%3A%2F%2Fcarlahackett.com%2Fworkshops%2Fbooking-complete" class="pin-payment-button button">Book Now <i>for</i> <span class="date">August 16 &amp; 17</span></a></p> -->
        <p><a class="button sold-out"><span class="date">August 16 &amp; 17</span> <span class="sold-out">Sold out</span></a></p> 
        <!-- <p><a href="https://pay.pin.net.au/qkgm?amount=550&amp;description=Two+day+brush+lettering+workshop+with+Barbara+Enright%3A+23+%26+24+August+2014+&amp;success_url=http%3A%2F%2Fcarlahackett.com%2Fworkshops%2Fbooking-complete" class="pin-payment-button button">Book Now <i>for</i> <span class="date">August 23 &amp; 24</span></a></p> -->
        <p><a class="button sold-out"><span class="date">August 23 &amp; 24</span> <span class="sold-out">Sold out</span></a></p> 
      </div>

      <em>The first series of these workshops is all sold out! But never fear, we hope to run these again in the near future. Sign up to my mailing list at the bottom of this page and you'll get an email announcing any upcoming workshops in Sydney and Melbourne.</em>

      <h3>Craft Cubed 2014</h3>
      <p>This is part of the amazing <a href="hhttp://www.craft.org.au/see/craft-cubed/">Craft Cubed 2014</a> event featuring events, workshops, talks and exhibitions from artists and crafts people all over Victoria for the month of August. Check out the <a
      href="http://www.craft.org.au/wp-content/uploads/2012/10/Craft-Cubed-2014-Program-Lo-Res.pdf">full schedule</a> to get&nbsp;involved.</p>
      <p><a href="http://www.craft.org.au/" class="image"><img src="{{imageUrl '/images/workshops/brush-lettering/craft-cubed.png'}}" alt="Craft Cubed Logo" class="craft-cubed"></a></p>

      <h3>Terms &amp; Conditions</h3>
      <ol>
        <li>These workshops require equipment and many hours of preparation. If you cancel within 14 days of the course we can only refund you 50% of the fee to cover our costs, sorry! We’re absolutely happy to transfer it to someone else though, just let us know their contact details and we’ll switch the booking (but you’ll have to organise payment between yourselves). Email carla@carlahackett.com for refunds, cancellations or to confirm the transfer details of the new&nbsp;attendees.</li>
        <li>We hope it doesn’t happen, but if the workshop is unfortunately cancelled, you will be fully refunded for the cost of the workshop. The workshops must have a minimum of 4 participants before they can commence. Students will be notified via email of any cancellations.</li>
      </ol>
    </div>
  </div>
</section>
