<h1><img src="{{imageUrl '/images/workshops/brush-lettering/title.jpg'}}" alt="Brush Lettering Workshop, {{workshop.city}} {{workshop.date}}" /></h1>

<hr>

<div class="tagline">
  <h2 class="city">{{workshop.city}}</h2>
  <h2 class="type">{{workshop.type}}</h2>
  <h2 class="date">{{workshop.date}}</h2>
</div>
