<p class="sell">
  {{workshop.city}}<br>
  <span class="minor">
    {{workshop.date}}<br>
    {{workshop.type}}<br>
    <span class="price">{{formatPrice workshop.price workshop.currency}}</span>
    <span class="currency-note">{{currencyNote workshop.currency}}</span>
  </span>
</p>
